.partners {
  color: #fff;
  background-color: #12152a;
  padding-top: 84px;
  padding-bottom: 156px;
}

@media (max-width: 768px) {
  .partners {
    padding-bottom: 56px;
  }
}

.partners__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 114px;
}

@media (max-width: 768px) {
  .partners__head {
    margin-bottom: 46px;
  }
}

@media (max-width: 567px) {
  .partners__head {
    flex-direction: column;
    align-items: center;
  }
}

.partners__title {
  color: #fff;
}

.partners__btn-sign-up {
  padding: 14px 64px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

@media (max-width: 567px) {
  .partners__btn-sign-up {
    margin-top: 0;
  }
}

.partners__item {
  margin-bottom: 74px;
}

@media (max-width: 768px) {
  .partners__item {
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid #414455;
    margin-bottom: 0;
  }
}

.partners__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 60px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .partners__item-title {
    justify-content: center;
    margin-bottom: 26px;
    white-space: initial;
    text-align: center;
  }
}

@media (max-width: 567px) {
  .partners__item-title {
    font-size: 18px;
    line-height: 24px;
  }
}

.partners__item-title-before {
  width: 100%;
  height: 1px;
  background-color: #414455;
  display: block;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .partners__item-title-before {
    display: none;
  }
}

.partners__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .partners__links {
    grid-template-columns: repeat(2, 1fr);
  }
}

.partners__link-wrapper.mod-center-item {
  grid-column: 3 / 4;
}

@media (max-width: 768px) {
  .partners__link-wrapper.mod-center-item {
    grid-column: 1 / 3;
  }
}

.partners__link {
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 350ms;
  cursor: pointer;
  width: 100%;
  height: 70px;
  display: block;
}

.partners__link.mod-university {
  background-size: 210px 48px;
  background-image: url('../img/partners/innopolis-university.svg');
}

.partners__link.mod-university:hover {
  background-image: url('../img/partners/innopolis-university-hover.svg');
}

.partners__link.mod-ferrari {
  background-size: 124px 26px;
  background-image: url('../img/partners/ferrari.svg');
}

.partners__link.mod-ferrari:hover {
  background-image: url('../img/partners/ferrari-hover.svg');
}

.partners__link.mod-kia {
  background-size: 78px 40px;
  background-image: url('../img/partners/kia.svg');
}

.partners__link.mod-kia:hover {
  background-image: url('../img/partners/kia-hover.svg');
}

.partners__link.mod-ford {
  background-size: 106px 40px;
  background-image: url('../img/partners/ford.svg');
}

.partners__link.mod-ford:hover {
  background-image: url('../img/partners/ford-hover.svg');
}

.partners__link.mod-jeep {
  background-size: 98px 40px;
  background-image: url('../img/partners/jeep.svg');
}

.partners__link.mod-jeep:hover {
  background-image: url('../img/partners/jeep-hover.svg');
}

.partners__link.mod-tesla {
  background-size: 132px 18px;
  background-image: url('../img/partners/tesla.svg');
}

.partners__link.mod-tesla:hover {
  background-image: url('../img/partners/tesla-hover.svg');
}
